@font-face{
    font-family: "DellaRespira";
    src: url("./fonts/DellaRespira-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "Forum";
    src: url("./fonts/Forum-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
