@font-face{
    font-family: "InSans";
    src: url("./home-fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./home-fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --off-white:#F2F4ED;
    --green:#87BBA1;
    --teal: #87AFBB;
    --blue:#879ABB;
    --dark-green:#3A857D;
    --dark-teal: #3A7485;
    --dark-blue:#3A4F85;
    
    --light-gray:#c4c4c4;
    --mid-gray:#9c9c9c;
    --dark-gray:#727272;
    --darker-gray:#454545;
    --dark:#161328;

    /* geronimo words */
    --orange:#df8734;
    --yellow:#f1dd69;
    --pink:#ee9cbe;
    

}
html{
    background:var(--off-white);
    font-family:"InSans";
}

header{
    font-family:"InSans";
    
    text-align:center;
    
}

h1{
    font-family:"InSerif";
    font-size:5rem;
    margin-block:2rem;
    color:var(--mid-gray);
    margin-block:5rem;
    line-height:4.5rem;
    margin-inline:1.5rem;
}
h1 span{
    color:var(--darker-gray);
    /* font-size:4rem; */
}
@media (width > 850px) {
	h1 {
		font-size: 5rem;
		line-height: 5rem;
        margin-inline: 4rem;
   
	
    }
	
    h1 span{
        font-size:5rem;
    }
}
h2{
    font-size:1.5rem;
    margin-block: .5rem;
    margin-inline:2rem;
    color:var(--dark-gray);
    /* letter-spacing:.25ch; */
    font-weight:200;
}
h3{
    text-align:center;
    margin-block:6rem 4rem;;
    font-size:2rem;
    margin-inline:1rem;
    color:var(--dark-gray);
    font-weight:500;
}


nav{
    margin-block:3rem 10rem;
    /* background: var(--light-gray);
    padding-block:3rem; */
}
nav ul{
    /* background: var(--darker-gray);
    padding-block:4rem; */
}


ul li{
    font-size:3rem;
    font-family:"InSerif";
    /* margin-block:1rem; */
   
    font-weight:400;
    padding:2rem 1rem;
    letter-spacing: .1ch;
}
ul li:hover{
    text-transform: uppercase;
}

#art1-nav{
    background:var(--green);
    color:var(--dark-green);
}
#art1-nav:hover{
    background:var(--dark-green);
    color:var(--off-white);

}
#art2-nav{
    background:var(--teal);
        color:var(--dark-teal);

}
#art2-nav:hover{
    background:var(--dark-teal);
    color:var(--off-white);

}
#art3-nav{
    background:var(--blue);
    color:var(--dark-blue);
}
#art3-nav:hover{
    background:var(--dark-blue);
    color:var(--off-white);

}

main p{
    margin-inline:1.5rem;
}
.intro{
    margin-block-end: 3rem;
    text-align:left;
    display:grid;
    grid-template-columns:6fr .5fr;
}
.intro p{

    font-size:1.2rem;
    line-height:1.7rem;
    color:var(--dark-gray);
    font-weight:300;
    margin-block-end:1.5rem;
    text-wrap:pretty;
    
}
@media (width > 850px) {
    .intro{
        display:grid;
        grid-template-columns:1fr;
        text-align: center;
    }
    .intro-text{
        display:grid;
        /* grid-template-columns:1fr 1fr 1fr;    
        column-gap:.5rem; */
        margin-inline: 10rem;
    
        font-size:1.5rem;
    }
}



.colophon{
    margin-block:3rem 5rem;
    text-align:right;
    /* display:grid; */
    /* grid-template-columns:1fr 6fr; */

}
.colophon p{

    font-size:1rem;
    line-height:1.5rem;
    color:var(--dark-gray);
    font-weight:400;
    text-wrap:pretty;
    
}
@media (width > 850px) {
    .colophon{
        display:grid;
        grid-template-columns:1fr;
        
    }
    .colophon p{
        text-align: center;
        font-size:1.2rem;
        line-height:1.5rem;
        margin-inline:20rem;
        
    }
}

.slant{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
  /* color: var(--orange); */
  transform: rotate(-1.5deg);
}
.slant2{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
  /* color: var(--orange); */
  transform: rotate(1deg);
}
.geronimo{
    display: inline-block;
    font-family:"InSerif";
    font-weight:900;
    font-size: 1.25rem;
    color:var(--orange);
}
.stroke {
  color: var(--yellow);
  -webkit-text-stroke: .5px #000;
  font-weight: 500;
}
.shadow {
  text-shadow: 2.2px 2.2px 0 #9c4f7b;
  font-weight: 500;
  font-size:2.1rem;
  color:var(--pink);
  letter-spacing:.07ch;
}









.line{
    background:var(--light-gray);
    height:4rem;

}
.dark-line{
    background:var(--darker-gray);
    margin-block-start:0;
    height:5rem;
}
#top-line{
    margin:0;
}

footer{
    background:var(--darker-gray);
    text-align:center;
    color:var(--off-white);
    font-size:1rem;
    /* letter-spacing:.25ch; */
    
}
footer p{
    padding-block: 2rem;
    margin-inline:2rem;

}


