@font-face{
    font-family: "InSans";
    src: url("./home-fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./home-fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --off-white:#F2F4ED;
    --green:#87BBA1;
    --teal: #87AFBB;
    --blue:#879ABB;
    --dark-green:#3A857D;
    --dark-teal: #3A7485;
    --dark-blue:#3A4F85;
    
    --light-gray:#c4c4c4;
    --mid-gray:#9c9c9c;
    --dark-gray:#727272;
    --darker-gray:#454545;
    --dark:#161328;

    /* geronimo words */
    --pistachio:#a6cc90;
    --rosy:#d5a1ba;
    --aqua:#4faeab;
    --periwinkle:#7884d2;
    --sand:#b87466;
    

}
html{
    background:var(--off-white);
    font-family:"InSans";
    
}
/* svg {
        position: fixed;
        z-index: 1; 
        left:0;
        margin-inline-start:0rem;
        transform: scale(0.75);
        height:150vh;
        margin-block:0;
} */

main{
    margin-block-end:10rem;
}

header{
    font-family:"InSans";
    text-align:center;
    
}

/* h1 formatting + responsiveness */
h1{
    font-family:"InSerif";
    font-size:4rem;
    max-width:27rem;
    min-width:min-content;
    margin-block:8rem;
    color:var(--mid-gray);
    line-height:3.5rem;
    margin-inline:auto;
    
}
h1 span{
    color:var(--darker-gray);
    /* font-size:4rem; */
}
@media (500px <= width <= 850px){
    h1{
        font-size:6rem;
        width:30rem;
        line-height:5.5rem;
        margin-block:9rem;
    }
    
}
@media (width > 850px) {
	h1 {
		font-size: 7rem;
		line-height: 6rem;
        width:45rem;
        margin-inline: auto;
        margin-block:10rem;

   
	
    }
	
    h1 span{
        /* font-size:5rem; */
    }
}


h2{
    font-size:1.5rem;
    margin-block: .5rem;
    margin-inline:2rem;
    color:var(--dark-gray);
    /* letter-spacing:.25ch; */
    font-weight:200;
}

/* h3 formatting + responsiveness */
h3{
    font-family:"InSerif";
    text-align:center;
    margin-block:6rem 4rem;;
    font-size:2.5rem;
    margin-inline:1rem;
    color:var(--darkest-gray);
    letter-spacing:.05ch;
    font-weight:500;
    line-height:2.5rem;

    @media (500px <= width <= 850px){
        font-size:3rem;
        line-height:3rem;

    }
    @media (width > 850px){
        font-size:3.5rem;
        line-height:3.5rem;
        width:60rem;
        margin-inline:auto;

    }

}
#h3span{
    font-family:"InSans";
    font-size:2.75rem;

    @media (500px <= width <= 850px){
        font-size:3rem;
        line-height:3rem;


    }
    @media (width > 850px){
        font-size:3.5rem;
        line-height:3rem;


    }
}




nav{
    margin-block:3rem;
    text-align:center;
    /* background: var(--light-gray);
    padding-block:3rem; */
}


/* navigation banners */

ul li{
    font-size:2rem;
    font-family:"InSans";
   
    font-weight:400;
    padding:2rem 1rem;
    

    @media (500px <= width <= 850px){
        font-size:2.5rem;
    }
    @media (width > 850px){
        font-size:3rem;
    }
}
ul li:hover{
    text-transform: uppercase;
    font-family:"InSerif";
    font-size:2rem;

    @media (500px <= width <= 850px){
        font-size:2.5rem;
    }
    @media (width > 850px){
        font-size:3rem;
    }
}

#art1-nav{
    background:var(--green);
    color:var(--dark-green);
}
#art1-nav:hover{
    background:var(--dark-green);
    color:var(--off-white);

}
#art2-nav{
    background:var(--teal);
        color:var(--dark-teal);

}
#art2-nav:hover{
    background:var(--dark-teal);
    color:var(--off-white);

}
#art3-nav{
    background:var(--blue);
    color:var(--dark-blue);
}
#art3-nav:hover{
    background:var(--dark-blue);
    color:var(--off-white);

}

/* image + caption formatting */
figure{
    justify-content: center;
    margin: 2rem 0;  
    
}
img{
    max-width: 25rem;          
    width: 100%;               
    height: auto;      
    display: block;
    margin: 0 auto;
    padding:1rem;
    border:25px solid var(--dark-blue);
}
figcaption{
    text-align:center;
    margin-block:1rem 4.5rem;;
    width:20rem;
    margin-inline:auto;
    font-size:.9rem;
    line-height:1.2rem;
    color: var(--dark-gray);

    @media (500px <= width <= 850px){
        width:25rem;
        margin-inline:auto;
    }
    @media (width > 850px){
        width:30rem;
        margin-inline:auto;
    }
    
}
figcaption a{
    color: var(--dark-blue);
    font-weight:500;
    /* font-family:"InSerif"; */
    /* font-size:1.2rem; */
}
figcaption a:hover{
    color: var(--blue);
}





/* body text */
main p{
    margin-inline:1.5rem;
}
/* intro */
.intro{
    margin-block-end: 3rem;
    text-align:left;
    display:grid;
    grid-template-columns:6fr .5fr;

    @media (500px <= width <= 850px){
        display:grid;
        grid-template-columns:6fr 1.5fr;
    }
    @media (width > 850px){
        display:grid;
        grid-template-columns:1fr;
        text-align: center;
    }
}
.intro p{

    font-size:1.2rem;
    line-height:1.7rem;
    color:var(--darker-gray);
    font-weight:300;
    margin-block-end:1.5rem;
    text-wrap:balance;

    @media (500px <= width <= 850px){
        
    }
    @media (width > 850px){
        display:inline-block;
        width:60vw;
        margin-inline: auto;
        
    }
    
}





/* colophon */
.colophon{
    margin-block:3rem 5rem;
    text-align:right;

    @media (500px <= width <= 850px){
    }
    @media (width > 850px) {
        display:grid;
        grid-template-columns:1fr;
    }
}
.colophon p{

    font-size:1.2rem;
    line-height:1.5rem;
    color:var(--dark-gray);
    font-weight:300;
    text-wrap:balance;

    @media (500px <= width <= 850px){
    }
    @media (width > 850px) {
        text-align: center;
        font-size:1.2rem;
        line-height:1.5rem;
        margin-inline:10rem;
    }
    
}


.slant{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
  color: var(--dark-green);
  transform: rotate(-1.5deg);
}
.slant2{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
    color: var(--dark-green);
  transform: rotate(1.25deg);
}
.geronimo{
    display: inline-block;
    font-family:"InSerif";
    font-weight:900;
    font-size: 1.3rem;
    color:var(--sand);
}
.stroke {
  color: var(--pistachio);
  -webkit-text-stroke: .75px #000;
  font-weight: 600;
  font-size:2.2rem;
}
.shadow {
  text-shadow: 1.4px 1.4px 0 #8c1d98;
  font-weight: 500;
  font-size:2.2rem;
  color:var(--aqua);
  letter-spacing:.05ch;
}
.space {
  letter-spacing: 0.09em;
  font-weight: 500;
  color: var(--periwinkle);
  font-style:italic;
  /* font-family:"InSerif"; */
}
.shimmer {
    font-weight: bold;
    background: linear-gradient(
                90deg,
                #8aae4a 0%,
                #25d356 25%,
                #51a9bd 50%,
                #576dfe 75%,
                #8e76e4 100%
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: shimmer 5s linear infinite;
}








.line{
    background:var(--light-gray);
    height:3rem;

}
.dark-line{
    background:var(--darker-gray);
    margin-block-start:0;
    height:7.5rem;

    
  --s: 120px; /* control the size*/
  --c1: #c4c4c4;
  --c2: #727272;
  
  --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
  --_c:,#0000 75%,var(--c2) 0;
  background:
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
    conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
    conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
    conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
    var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
  background-size: var(--s) var(--s);

}
#top-line{
    margin:0;
}

footer{
    background:var(--darker-gray);
    text-align:center;
    color:var(--off-white);
    font-size:1rem;
    /* letter-spacing:.25ch; */
    
}
footer p{
    padding-block: 2rem;
    margin-inline:2rem;

}


