@font-face{
    font-family: "InSans";
    src: url("./home-fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./home-fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --off-white:#F2F4ED;
    --green:#87BBA1;
    --teal: #87AFBB;
    --blue:#879ABB;
    --dark:#161328;
    --light-gray:#B1B1B1;
    --mid-gray:#909090;
    --dark-gray:#727272;



    
}
html{
    background:var(--off-white);
}

header{
    font-family:"InSans";
    
    text-align:center;
}
h1{
    font-family:"InSerif";
    font-size:6rem;
    margin-block:2rem;
    color:var(--dark-gray);
}
h2{
    font-size:2rem;
    margin-block:2rem;
    color:var(--mid-gray);
    letter-spacing:.25ch;
    font-weight:400;
}
nav{
    margin-block:0rem;
}


ul li{
    font-size:1.5rem;
    /* margin-block:1rem; */
    color:var(--off-white);
    letter-spacing:.25ch;
    font-weight:500;
    padding:1rem;
    /* border:px solid var(--off-white); */
}
ul li:hover{
    color:var(--green);
    /* text-decoration:underline; */
    text-underline-offset: .25rem;
    /* background:var(--off-white); */
}
#art1-nav{
    background:var(--green);
}
#art2-nav{
    background:var(--teal);
}
#art3-nav{
    background:var(--blue);
}