@font-face{
    font-family: "Gabarito";
    src: url("./home-fonts/Gabarito-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "MonaSans";
    src: url("/home-fonts/MonaSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --off-white:#eef1eb;
    --light-green:#c6e3c7;
    --green:#87BBA1;
    --dark-green:#47928b;
    --darker-green:#1c6364;
    --darkest-green:#162E30;
    
}
html{
    background:var(--green);
}

header{
    font-family:"MonaSans";
    
    text-align:center;
}
h1{
    font-size:3.5rem;
    margin-block:2rem;
    color:var(--off-white);
    letter-spacing:.2ch;
    font-weight:300;
}
h2{
    font-size:2rem;
    margin-block:2rem;
    color:var(--dark-green);
    letter-spacing:.2ch;
    font-weight:600;
}
ul li{
    font-size:1.5rem;
    margin-block:1rem;
    color:var(--off-white);
    letter-spacing:.25ch;
    font-weight:500;
    padding:1rem;
    background:var(--darker-green);
    /* border:px solid var(--off-white); */
}
ul li:hover{
    color:var(--green);
    text-decoration:underline;
    text-underline-offset: .25rem;
}