@font-face{
    font-family: "InSans";
    src: url("./home-fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./home-fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --off-white:#F2F4ED;
    --green:#87BBA1;
    --teal: #87AFBB;
    --blue:#879ABB;
    --dark-green:#3A857D;
    --dark-teal: #3A7485;
    --dark-blue:#3A4F85;
    
    --light-gray:#c4c4c4;
    --mid-gray:#9c9c9c;
    --dark-gray:#727272;
    --darker-gray:#454545;
    --dark:#161328;
    

}
html{
    background:var(--off-white);
    font-family:"InSans";
}

header{
    font-family:"InSans";
    
    text-align:center;
    
}

h1{
    font-family:"InSerif";
    font-size:4rem;
    margin-block:2rem;
    color:var(--dark-gray);
    margin-block-start:5rem;
    line-height:4rem;
    margin-inline:1rem;
}
h1 span{
    color:var(--darker-gray);
    font-size:5rem;
}
@media (width > 850px) {
	h1 {
		font-size: 5rem;
		line-height: 5rem;
        margin-inline: 2rem;
   
	
    }
	
    h1 span{
        font-size:6rem;
    }
}
h2{
    font-size:2rem;
    margin-block:2rem .5rem;
    color:var(--darker-gray);
    /* letter-spacing:.25ch; */
    font-weight:400;
}
#intro-title{
    text-align:center;
    margin-block:6rem 3rem;
}
#intro-title span{
    font-style:italic;
    text-decoration:underline;
    text-underline-offset: .25rem;
    text-decoration-thickness: .1rem;
}
h3{
    font-size:1.5rem;
    margin-block:0 3rem;
    color:var(--dark-gray);
    letter-spacing:.2ch;
    font-weight:400;
    margin-block-end:6rem;
}

nav{
    margin-block:3rem;
    background: var(--light-gray);
    padding-block:3rem;
}
nav ul{
    background: var(--darker-gray);
    padding-block:4rem;
}


ul li{
    font-size:1.5rem;
    /* margin-block:1rem; */
    color:var(--off-white);
    /* letter-spacing:.25ch; */
    font-weight:400;
    padding:2rem 1rem;
    /* border:px solid var(--off-white); */
}
ul li:hover{
    /* color:var(--green); */
    /* text-decoration:underline; */
    text-underline-offset: .25rem;
    /* background:var(--off-white); */
}
#art1-nav{
    background:var(--green);
}
#art1-nav:hover{
    background:var(--dark-green);

}
#art2-nav{
    background:var(--teal);
}
#art2-nav:hover{
    background:var(--dark-teal);

}
#art3-nav{
    background:var(--blue);
}
#art3-nav:hover{
    background:var(--dark-blue);

}

main p{
    margin-inline:1rem;
}
.intro{
    margin-block-end: 3rem;
    text-align:left;
    display:grid;
    grid-template-columns:6fr .5fr;
}
.intro p{

    font-size:1.2rem;
    line-height:1.5rem;
    color:var(--dark-gray);
    font-weight:500;
    margin-block-end:1.5rem;
    text-wrap:pretty;
    
}
@media (width > 850px) {
    .intro{
        display:grid;
        grid-template-columns:1fr;
    }
    .intro-text{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;    
        column-gap:.5rem;
        margin-inline: 3rem;
        font-size:1.5rem;
    }
}
.colophon{
    margin-block:3rem 5rem;
    text-align:right;
    display:grid;
    grid-template-columns:.5fr 6fr;

}
.colophon p{

    font-size:1rem;
    line-height:1.2rem;
    color:var(--mid-gray);
    font-weight:400;
    text-wrap:pretty;
    
}
@media (width > 850px) {
    .colophon{
        display:grid;
        grid-template-columns:1fr;
        
    }
    .colophon p{
        text-align: center;
        font-size:1.2rem;
        line-height:1.5rem;
        margin-inline:20rem;
        
    }
}



.line{
    background:var(--light-gray);
    height:4rem;

}
.dark-line{
    background:var(--darker-gray);
    margin-block-start:0;
    height:5rem;
}
#top-line{
    margin:0;
}

footer{
    background:var(--darker-gray);
    text-align:center;
    color:var(--off-white);
    font-size:1rem;
    letter-spacing:.25ch;
}
footer p{
    padding-block: 2rem;

}


