@font-face{
    font-family: "InSans";
    src: url("./fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --off-white:#eef1eb;
    --light-green:#D4F6F5;
    --green:#87AFBB;
    --dark-green:#3A7485;
    --darker-green:#0C4655;
    --darkest-green:#132228;


    
}

html{
    font-family:"InSans";
    background:var(--off-white);
}
nav{
    margin-block:auto;
    justify-content: center;
    align-content: center;
    padding-block-start:2.75rem;

}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

nav ul li{
    text-align: center;

}
#active-nav{
    color: var(--off-white);
}
#active-nav:hover{
    color: var(--green);
}

nav a{
    font-family:"InSans";
    color: var(--green);
    font-weight:500;
    font-size:1rem;
    
}
nav a:hover{
    color: var(--dark-green);
}
header{
    /* display:flex;
    flex-direction: row;
    margin-inline:1rem;
    column-gap: .5rem; */
}
.title-sec{
    /* display:flex;
    flex-direction: row; */
    margin-inline:1rem;
    column-gap: 1rem;
}
@media (width > 850px) {
    .title-sec{
        display:flex;
        flex-direction: column;
        text-align:center;
    }
    
}

h1{
    color:var(--dark-green);
    font-size:4rem;
    /* font-weight:800; */
    line-height:4rem;
    margin-block-start:5rem;
    font-family: "InSerif";
}
@media (width > 850px) {
	h1 {
		font-size: 5rem;
		line-height: 5rem;
        margin-inline: 2rem;
	}
}
h1 span{
    color:var(--darkest-green);
    font-size:5rem;
    @media (width > 850px) {
    font-size:6rem;
    }
}



.og-text{
    margin-block-start:4rem;
    /* margin-inline-end:1rem; */
}

.og-text p{
    color:var(--darker-green);
    font-size:2rem;
    font-weight:400;
    letter-spacing:-.05ch;
    line-height:2.2rem;
    margin-block-end:.3rem;
    text-align:right;
}
@media (width > 850px) {
    .og-text{
        margin-block-start:4rem;
    }
    .og-text p{

        text-align:center;
    }
}
.line{
    background:var(--green);
    margin-block-start:5rem;
    height:4rem;

}
.dark-line{
    background:var(--darker-green);
    margin-block-start:0;
    height:7rem;
}
#top-line{
    margin:0;
}
.context{
    color:var(--off-white);
    background:var(--darker-green);
    padding:2rem;
    margin-block:0;
    font-weight: 300;
    text-align:center;
    font-size:1.5rem;
}
.context em{
    font-style:italic;
}
article{
    /* margin-block-start:10rem; */
    font-size:1.2rem;
    line-height:1.75rem;
    color:var(--darkest-green);
    margin-block-end:10rem;
    
}
article .pg{
    margin-block:3rem 2rem;
    margin-inline:1rem;
    text-wrap:pretty;
}
.para{
    margin-block-start:7rem;
}
.label {
    /* display:none; */
    text-align:right;
    margin-block: 3rem 1rem;
    margin-inline-end:1rem;
    font-size: 5rem;
    font-weight:100;
    color:var(--green);
    
}
@media (width > 850px) {
    .label{
        display:block;
        margin-block:4rem 2rem;
        /* background:var(--dark-green); */
        /* padding:3rem 2rem; */
    /* margin-inline:1rem; */
        font-size: 4.5rem;
        color:var(--green);
        text-align:left;
        margin-inline-start:2rem;
        /* border-radius:100px;
        width:min-content;
        height:min-content; */
    }
	.para {
		display: grid;
        grid-template-columns:1fr 5fr;
        margin-inline-end: 2rem;
	}
}
.pg em{
    font-weight: 500;
    font-style:italic;
}
mark{
    background: var(--light-green);
}
blockquote{
    color:var(--darker-green);
    font-weight:300;
    font-size:1.7rem;
    padding: 2rem 1.25rem;
    background:var(--light-green);
    line-height:2.2rem;
    margin-block:3rem;
}


footer{
    background:var(--darkest-green);
    text-align:center;
    color:var(--green);
    font-size:1rem;
    padding-block: 2rem;
    letter-spacing:.25ch;
}