@font-face{
    font-family: "Gabarito";
    src: url("./fonts/Gabarito-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "MonaSans";
    src: url("./fonts/MonaSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --off-white:#eef1eb;
    --light-green:#c6e3c7;
    --green:#87BBA1;
    --dark-green:#47928b;
    --darker-green:#1c6364;
    --darkest-green:#162E30;
    
}

html{
    font-family:"MonaSans";
    background:var(--off-white);
}
nav{
    margin-block:auto;
    justify-content: center;
    align-content: center;
    padding-block-start:2.75rem;

}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

nav ul li{
    text-align: center;

}

nav a{
    font-family:"MonaSans";
    color: var(--off-white);
    font-weight:500;
    
    
}
nav a:hover{
    color: var(--green);
}
header{
    /* display:flex;
    flex-direction: row;
    margin-inline:1rem;
    column-gap: .5rem; */
}
.title-sec{
    display:flex;
    flex-direction: row;
    margin-inline:1rem;
    column-gap: .5rem;
}

h1{
    color:var(--dark-green);
    font-size:2.7rem;
    font-weight:700;
    line-height:3rem;
    margin-block-start:8rem;
}



.og-text{
    margin-block-start:8.25rem;
}
.og-text p{
    color:var(--darker-green);
    font-size:1.5rem;
    font-weight:700;
    line-height:1.7rem;
    margin-block-end:.3rem;
    text-align:right
}
.line{
    background:var(--green);
    margin-block-start:8rem;
    height:5rem;

}
.dark-line{
    background:var(--darker-green);
    margin-block-start:0;
    height:7rem;
}
#top-line{
    margin:0;
}
.context{
    color:var(--off-white);
    background:var(--darker-green);
    padding:2rem;
    margin-block:0;
}
.context em{
    font-style:italic;
}
article{
    /* margin-block-start:10rem; */
    font-size:1.2rem;
    line-height:1.75rem;
    color:var(--darkest-green);
    margin-block-end:10rem;
}
article .pg{
    margin-block:3rem 2rem;
    margin-inline:1rem;
}
blockquote{
    color:var(--darker-green);
    font-weight:400;
    font-size:1.5rem;
    padding: 2rem 1.25rem;
    background:var(--light-green);
    line-height:2rem;
    margin-block:3rem;
}