@font-face{
    font-family: "Josefin";
    src: url("./fonts/JosefinSans-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


:root{
    
    --sand:#F3E8E3;
    --beige:#d5c2c8;
    --taupe:#9B8B98;
    --dark-taupe:#4A4E68;
    --dark-purp:#1b1f52;
}

html{
    background-color: var(--sand);
}


header{
    background-color: var(--taupe);
    padding:1rem;
    
    

}
nav{
    text-align:center;
    margin-block-start:1rem;
}
nav a{
    font-family:"Josefin";
    color: var(--dark-taupe);
    font-weight:600;
    
}
.og-text{
    
}
main{
    margin:1rem;
}


h1{
    font-family:"Josefin";
    font-size: 2rem;
    font-weight:700;
    line-height: 4rem;
    text-align: left;
    color: var(--sand);
    margin-block:7rem 3rem;
    line-height: 2.5rem;
    margin-inline:1.5rem;
    letter-spacing:-1px;
    padding:1.5rem 1.25rem;
    border:6px solid var(--sand);
    text-wrap:pretty;
    /* width:min-content; */
}
p{
    font-family:"Josefin";
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight:350;
}
.og-text{
    line-height:.5rem;
    padding:1.5rem 1.25rem;
    /* background: var(--mid-blue); */
    margin-inline:1.5rem;
    margin-block-end:3rem;
    /* border: 2px solid var(--sand); */
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.art-detail{
    font-size: 1.5rem;
    text-align:left;
    /* margin-block:1rem;
    margin-inline:.5rem; */
    font-weight: 500;
    
    color: var(--beige);

}
#og-author{
    margin-block-end:0;
    /* text-align:center; */
}
#og-date{
    /* margin-block-start:0.25rem; */
    /* margin-block-end:2rem; */
    text-align:right;
    font-weight:400;
}
.context{
    font-size:1.25rem;
    line-height:1.5rem;
    /* color: var(--mid-teal); */
    font-weight:350;
    margin-inline:2.2rem;
    margin-block:4rem;
    letter-spacing:-.5px;
    color:var(--dark-taupe);
    text-align:center;

}
.context em{
    font-weight: 600;
    font-style: italic;
}
.pg{
    margin:2rem .5rem;

    padding:1.5rem 1rem;
    color:var(--sand);
    background-color:var(--dark-taupe);


}