@font-face{
    font-family: "Gabarito";
    src: url("./fonts/Gabarito-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "MonaSans";
    src: url("./fonts/MonaSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --off-white:#eef1eb;
    --light-green:#c6e3c7;
    --green:#87BBA1;
    --dark-green:#47928b;
    --darker-green:#1c6364;
    --darkest-green:#162E30;
    
}

html{
    font-family:"MonaSans";
    background:var(--off-white);
}
nav{
    margin-block:auto;
    justify-content: center;
    align-content: center;
    padding-block-start:2.75rem;

}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

nav ul li{
    text-align: center;

}

nav a{
    font-family:"MonaSans";
    color: var(--off-white);
    font-weight:500;
    
    
}
nav a:hover{
    color: var(--green);
}
header{
    /* display:flex;
    flex-direction: row;
    margin-inline:1rem;
    column-gap: .5rem; */
}
.title-sec{
    display:flex;
    flex-direction: row;
    margin-inline:1rem;
    column-gap: .5rem;
}
@media (width > 850px) {
    .title-sec{
        display:flex;
        flex-direction: column;
        text-align:center;
    }
    
}

h1{
    color:var(--dark-green);
    font-size:2.7rem;
    font-weight:400;
    line-height:3rem;
    margin-block-start:8rem;
}
@media (width > 850px) {
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
        margin-inline: 2rem;
	}
}



.og-text{
    margin-block-start:8.25rem;
}

.og-text p{
    color:var(--darker-green);
    font-size:1.5rem;
    font-weight:500;
    line-height:1.7rem;
    margin-block-end:.3rem;
    text-align:right;
}
@media (width > 850px) {
    .og-text{
        margin-block-start:4rem;
    }
    .og-text p{

        text-align:center;
    }
}
.line{
    background:var(--green);
    margin-block-start:8rem;
    height:5rem;

}
.dark-line{
    background:var(--darker-green);
    margin-block-start:0;
    height:7rem;
}
#top-line{
    margin:0;
}
.context{
    color:var(--off-white);
    background:var(--darker-green);
    padding:2rem;
    margin-block:0;
    font-weight: 300;
    text-align:center;
    font-size:1.5rem;
}
.context em{
    font-style:italic;
}
article{
    /* margin-block-start:10rem; */
    font-size:1.2rem;
    line-height:1.75rem;
    color:var(--darkest-green);
    margin-block-end:10rem;
}
article .pg{
    margin-block:3rem 2rem;
    margin-inline:1rem;
}
.label {
    display:none;
}
@media (width > 850px) {
    .label{
        display:block;
        margin-block:5rem 2rem;
        /* background:var(--dark-green); */
        /* padding:3rem 2rem; */
    /* margin-inline:1rem; */
        font-size: 5rem;
        font-weight:100;
        color:var(--green);
        text-align:center;
        /* border-radius:100px;
        width:min-content;
        height:min-content; */
    }
	.para {
		display: grid;
        grid-template-columns:1fr 5fr;
	}
}
blockquote{
    color:var(--darker-green);
    font-weight:300;
    font-size:2rem;
    padding: 2rem 1.25rem;
    background:var(--light-green);
    line-height:2rem;
    margin-block:3rem;
}