@font-face{
    font-family: "InSans";
    src: url("./fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: "InSerif";
    src: url("./fonts/InstrumentSerif-Regular.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --off-white:#eef1eb;
    --light-green:#c6e3c7;
    --green:#87BBA1;
    --dark-green:#47928b;
    --darker-green:#1c6364;
    --darkest-green:#162E30;

    /* geronimo words */
    

    --pistachio:#a6cc90;
    --rosy:#d5a1ba;
    --aqua:#4faeab;
    --periwinkle:#7884d2;
    --sand:#b87466;

    
}

html{
    font-family:"InSans";
    background:var(--off-white);
}

/* nav */
nav{
    /* padding:2rem; */
    justify-content: center;
    align-content: center;
    padding-block:1.75rem;
    

}
nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

nav ul li{
    text-align: center;

}
#active-nav{
    color: var(--off-white);
    
}
#active-nav:hover{
    color: var(--dark-green);
}

nav a{
    font-family:"InSans";
    color: var(--darker-green);
    font-weight:500;
    font-size:1rem;
    
}
nav a:hover{
    color: var(--dark-green);
}








.title-sec{
    /* display:flex;
    flex-direction: row; */
    margin-inline:1rem;
    column-gap: 1rem;
}
@media (width > 850px) {
    .title-sec{
        display:flex;
        flex-direction: column;
        text-align:center;
    }
    
}

h1{
    color:var(--dark-green);
    font-size:4.5rem;
    /* font-weight:800; */
    line-height:4rem;
    margin-block:8rem;
    font-family: "InSerif";
}
@media (width > 850px) {
	h1 {
		font-size: 5rem;
		line-height: 5rem;
        margin-inline: 2rem;
	}
}
h1 span{
    color:var(--darkest-green);
    font-size:4.5rem;

    @media (width > 850px) {
    font-size:5rem;
    }
}




.og-text{
    margin-block-start:4rem;
    /* margin-inline-end:1rem; */
}

.og-text p{
    color:var(--darker-green);
    font-size:1.5rem;
    font-weight:400;
    letter-spacing:-.05ch;
    line-height:1.5rem;
    margin-block-end:.3rem;
    text-align:right;
}
@media (width > 850px) {
    .og-text{
        margin-block-start:4rem;
    }
    .og-text p{

        text-align:center;
    }
}

.line{
    background:var(--green);
    margin-block-start:5rem;
    /* height:rem; */

}
.dark-line{
    /* background:var(--darker-green);
    margin-block-start:0; */
    height:7.5rem;

  --s: 4rem; /* control the size*/
  --c1: #47928b;
  --c2: #c6e3c7;
  
  background:
    radial-gradient(36% 72% at 25% -50%,var(--c2) 98%,#0000)
     0 0/calc(2*var(--s)) var(--s),
    radial-gradient(36% 72% at 75% 150%,var(--c2) 98%,#0000)
     0 0/calc(2*var(--s)) var(--s),
    radial-gradient(72% 36% at 150% 25%,var(--c2) 98%,#0000)
     0 0/var(--s) calc(2*var(--s)),
    radial-gradient(72% 36% at -50% 75%,var(--c2) 98%,#0000)
     0 0/var(--s) calc(2*var(--s)),
    repeating-conic-gradient(var(--c2) 0 45deg,var(--c1) 0 25%)
     0 0/calc(2*var(--s)) calc(2*var(--s));

}
#top-line{
    margin:0;
}
.context{
     color:var(--off-white);
    font-family:"InSerif";
    letter-spacing:.1ch;
    font-size:1.75rem;
    padding: 3rem 2rem;
    background:var(--dark-green);
    line-height:2.2rem;
    margin-block:3rem;
    text-align:center;
    margin-inline-start:0rem;
    @media (width > 850px){
        /* margin-inline-start:1rem; */
    }

}
.context em{
    font-style:italic;
    text-decoration:underline;
    text-decoration-thickness: .05rem;
    text-underline-offset: .25rem;
}
article{
    /* margin-block-start:10rem; */
    font-size:1.2rem;
    line-height:1.75rem;
    color:var(--darkest-green);
    margin-block-end:10rem;
    
}
article .pg{
    margin-block:3rem 2rem;
    margin-inline:1rem;
    text-wrap:pretty;
    @media (width > 850px) {
        margin-inline-end: 7rem;
    }
    
}
.para{
    margin-block-start:7rem;
    
}
.label {
    /* display:none; */
    text-align:right;
    margin-block: 3rem 1rem;
    margin-inline-end:1rem;
    font-size: 5rem;
    font-weight:100;
    color:var(--green);
    
}
@media (width > 850px) {
    .label{
        display:block;
        margin-block:4rem 2rem;
        /* background:var(--dark-green); */
        /* padding:3rem 2rem; */
    /* margin-inline:1rem; */
        font-size: 4.5rem;
        color:var(--green);
        text-align:left;
        margin-inline-start:4rem;
        /* border-radius:100px;
        width:min-content;
        height:min-content; */
    }
    
	.para {
		display: grid;
        grid-template-columns:1fr 5fr;
        margin-inline-end: 2rem;
	}
}
.pg em{
    /* font-weight: 500; */
    font-style:italic;
}
mark{
    background: var(--light-green);
    color:var(--darker-green);
}
blockquote{
    color:var(--off-white);
    font-family:"InSerif";
    letter-spacing:.1ch;
    font-size:1.75rem;
    padding: 3rem 2rem;
    background:var(--dark-green);
    line-height:2.2rem;
    margin-block:5rem;
    text-align:center;
    margin-inline-start:0rem;
    @media (width > 850px){
        margin-inline-start:1rem;
                margin-inline-end:7rem;

    }
}

.slant{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
  color: var(--dark-green);
  transform: rotate(-1.5deg);
}
.slant2{
  display: inline-block;
  font-weight: 300;
  font-size: 1.3em;
    color: var(--dark-green);
  transform: rotate(1.25deg);
}
.geronimo{
    display: inline-block;
    font-family:"InSerif";
    font-weight:900;
    font-size: 1.5rem;
    color:var(--sand);
}
.stroke {
  color: var(--pistachio);
  -webkit-text-stroke: .75px #000;
  font-weight: 600;
  font-size:1.5rem;
}
.shadow {
  text-shadow: 1.4px 1.4px 0 #8c1d98;
  font-weight: 500;
  font-size:1.5rem;
  color:var(--aqua);
  letter-spacing:.05ch;
}
.space {
  letter-spacing: 0.09em;
  font-weight: 500;
  color: var(--periwinkle);
  font-style:italic;
  /* font-family:"InSerif"; */
}
.shimmer {
    font-weight: bold;
    background: linear-gradient(
                90deg,
                #8aae4a 0%,
                #25d356 25%,
                #51a9bd 50%,
                #576dfe 75%,
                #8e76e4 100%
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: shimmer 5s linear infinite;
}

footer{
    background:var(--darkest-green);
    text-align:center;
    color:var(--green);
    font-size:1rem;
    padding: 2rem 1rem;
    /* letter-spacing:.25ch; */
}
footer nav a{
    color:var(--light-green);
}
footer nav a:hover{
    color:var(--dark-green);
}